/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* Global styles */
body { background: #FFFFFF url('../img/bg_pattern.png'); }
body,
.pure-g-r [class *= "pure-u"] {
  font: 20px/28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 767px;
}

h1, h2, h3 {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: 400;
}

.reset_margins { margin: 0 }
input[type="text"] {
  margin-bottom: 10px;
}
button[type="submit"],
input[type="submit"] {
  margin: 4em 0;
}

/* Helpers */
.centered { text-align: center }
.mides_blue { color: #004A7F }

/* Start of actual styles */
h1.title { margin-bottom: 5em }

@media (max-width: 500px) {
  body { font-size: 16px; }
}
