<h3>Octubre 24, 2013</h3>
<p>Seleccione a los alumnos presentes para ingresar su asistencia a clase</p>

<div class="status">Entrega Pendiente</div>

<form novalidate name="attendance">
  <div ng-repeat="student in students">
    <input type="checkbox" name="estudiante_ids[]" ng-model="student.checked" value="{{student.id}}" />
    <input type="hidden" name="" />
    <span>{{student.primer_nombre | lowercase | capitalize }} {{student.primer_apellido | lowercase | capitalize }}</span>
  </div>
</form>

<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submitAttendance()">Ingresar</button>
