<h2 class="dark_blue">Octubre 26, 2013</h2>
<hr />
<p class="mides_blue">Seleccione a los alumnos presentes para ingresar su asistencia a clase</p>

<div class="status centered {{status.class}}" >{{status.text}}</div>

<form name="attendance" class="pure-g-r" novalidate>
  <div class="student pure-u-1" ng-class="{success: student.checked}" ng-click="selectStudent(student, $event)" ng-repeat="student in students">
    <input type="checkbox" name="estudiante_ids[]" ng-click="selectStudent(student, $event)" ng-checked="student.checked" value="{{student.id}}" />
    <input type="hidden" name="" />
    <span class="mides_blue">{{student.primer_nombre | lowercase | capitalize }} {{student.primer_apellido | lowercase | capitalize }}</span>
  </div>
  <button class="pure-button pure-button-primary pure-input-1" type="submit" ng-click="submitAttendance()">Confirmar Atendencia</button>
</form>
